*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-black: #111;
    --color-white: #fff;
    --color-white-10: rgba(255, 255, 255, 0.8);
    --color-yellow: #FFCE01;
    --color-blue: #0099d9;
    --color-light-blue: #F4F6FC;
    --color-dark-gray-blue: #394249;
    --color-dark-gray: #48494B;
    --font-family: 'open sans', sans-serif;
    --font-nunito: 'nunito', sans-serif;
}

body {
    /* padding-top: 1em; */
    font-family: var(--font-nunito);
    font-size: 1rem;
    /* line-height: 1.375; */
    width: 100%;
    position: relative;
}

/* Header ---------------------------------- */

header {
    padding: 0;
}

header button {
    display: none;
}

header nav {
    gap: 1rem;
    width: 100%;
    position: fixed;
    bottom: 0;

    /* position: fixed; */
    background-color: var(--color-yellow);
    padding: 2em 2em 1em 1em;
    /* top: 0; */
    /* left: 0; */
    z-index: 2;
    /* background-color: var(--color-yellow); */
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0em 2em 1em 1em;
}    

header nav ul li {
    display: inline-flex;
    text-wrap: none;
    justify-content: space-around;
    list-style: none;
    padding: 1em;
    font-weight: 400;
    font-style: normal;
    width: fit-content;
}

header nav ul li:nth-of-type(1) {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.3em;
    font-weight: 600;
    width: fit-content;
}
        
header nav ul a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--color-black);
    transition: width 0.3s;
}

header nav ul a:hover::after {
    width: 100%;
}

/* Banner section in de header ivm grid op de main */
header section {
    position: relative;
}

header section img {
    width: 100%; 
    height: auto; 
    display: block;
}

header section h2 {
    position: absolute;
    top: 50%; 
    left: 10%; 
    font-size: 2.5em;
    color: var(--color-white);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header section a {
    position: absolute;
    top: 60%; 
    left: 10%; 
    /* transform: translate(-50%, -50%);  */
    font-size: 1.5em;
    color: white; 
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.75); 
    text-decoration: none;
}

/* Textuhhhhh selectorrrrs */

main h2 {
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: .4em;
    padding-top: .5em;
}

main p {
    font-size: 1.4em;
    font-weight: 400;
    padding-bottom: 2em;
}

main section figure figcaption {
    position: absolute;
    bottom: 1em;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--color-black); 
    padding: 0.5em; 
    font-size: 1.4em;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

main section a {
    font-size: 1.2em;
}

/* Main ---------------------------------- */

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: repeat(7, 1fr); */
    column-gap: 1em;
    row-gap: 1em;
    /* column-gap: 1em; */
    /* grid-gap: 1em; */
    margin: 0;
    width: 100%;
    padding: 2em 3em 2em 3em;
    /* overflow: hidden; */

}

main > section:nth-of-type(1),
main > section:nth-of-type(2),
main > section:nth-of-type(3),
main > section:nth-of-type(4) {
    padding: 1em;
}

main section:nth-of-type(1),
main section:nth-of-type(2)  {
    grid-column: 2/3;
    position: relative;
    min-width: 100px;
}

main section ul {
    list-style-type: none;
}



/*  ----------------------- */
/* section figure:nth-of-type (1) */
/*  ----------------------- */

/* section 1 */

/* main > section > section:nth-of-type() figure,  */
main > section > section:nth-of-type(1),
main > section > section:nth-of-type(2){
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: red !important; */
    gap: 1em;
    padding: 2em 0 2em 0;
    /* display: none; */
}
main > section > section:nth-of-type(1) figure,
main > section > section:nth-of-type(2) figure{
   width: 100%;
    /* display: none; */
}

main section figure:nth-of-type(1) {
    position: relative;
    display: inline-block; 
    width: 100%;
}

main section figure:nth-of-type(1) img {
    display: block;
    width: 100%;
}


main section:nth-of-type(1) ul,
main section:nth-of-type(2) ul {
    display: flex;
    flex-direction: row; 
    width: 100%; 
    gap: 1em;
}

main section:nth-of-type(1) li,
main section:nth-of-type(2) li {
    width: 25%;
}


main section figure:nth-of-type(2),
main section figure:nth-of-type(3) {
    width: 50%;
}

main section figure:nth-of-type(2) img,
main section figure:nth-of-type(3) img{
    max-width:100%;
    max-height: 100%;
}

main section article:nth-of-type(1) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--color-yellow);
}

main section article:nth-of-type(1) video {
    width: 100%;
    grid-column:2/3;
    grid-row: 1/2;
}
main section article:nth-of-type(1) > section {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 2em;
}

/* moleskine & BE@RBRICK - button styling is in section 4 gecascade */

/*  ----------------------- */
/* section:nth-of-type (3) */
/*  ----------------------- */

main section:nth-of-type(3) {
    grid-column: 2/3;
    padding: 0%;
    /* background-color: rgb(0, 255, 68); */
}

main section:nth-of-type(3) img {
    width: 35%;
}


/*  ----------------------- */
/* section:nth-of-type (4) */
/*  ----------------------- */

main section:nth-of-type(4) {
    grid-column: 1/2;
    grid-row: 1/4;
    row-gap: 1em;
    /* max-width: 500px; */
    /* min-width: 300px; */
}

main section:nth-of-type(4) ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


main section article:nth-of-type(1) > section a,
main section:nth-of-type(4) ul a {
    text-decoration: none;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 1em;
    border-radius: 2em;
}

main section:nth-of-type(4) ul li:nth-of-type(1),
main section:nth-of-type(4) ul li:nth-of-type(3),
main section:nth-of-type(4) ul li:nth-of-type(5) {
    background-color: var(--color-blue);
    padding: 2em 2em 3em 2em;
}

main section:nth-of-type(4) ul li:nth-of-type(2),
main section:nth-of-type(4) ul li:nth-of-type(4) {
    background-color: var(--color-yellow);
    padding: 2em 2em 3em 2em;
}

main section:nth-of-type(4) img {
    width: 100%;
}


/* Footer ---------------------------------- */

footer {
    background-color: var(--color-light-blue);
}

footer section:nth-of-type(1) {
    display: flex;
    justify-content: center;
    padding: 1.2em;
    background-color: var(--color-dark-gray);
    color: var(--color-white);
}

footer section:nth-of-type(1) img {
    filter: invert(100%);
    padding-left: 3em; 
    vertical-align: text-top;
}

footer section:nth-of-type(1) p {
    margin-top: 1em;
}

footer section:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-light-blue);
    border-top: 1px solid var(--color-dark-gray);
}

footer section:nth-of-type(2) img {
   height: 100%;
   padding: 1em;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

footer ul li {
    list-style-type: none;
    width: 20%;
}

footer ul li img {
    width: 100%;
}




@media screen and (max-width:500px) {
    main {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    main section:nth-of-type(1) {
        display: flex;
        flex-direction: column;
    }

    main section:nth-of-type(2) {

    }

    main section:nth-of-type(3) {

    }

    main section:nth-of-type(4) {

    }
  
  }