*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* startje */
  --color-black: #111;
  --color-white: #fff;
  --color-yellow: #ffce01;
  --color-blue: #0099d9;
  --font-family: "open sans", sans-serif;
  --font-nunito: "nunito", sans-serif;
}

/* @media (prefers-color-scheme:dark) {
    :root {  
    }
} */

/* 78em = 1250px */
/* @media (min-with: 45em) {} */

/* Door Sanne 't hooft aanbevolen! ivm screenreader*/

body {
  background-color: var(--color-yellow);
  transition: background-color 6s linear;
  font-family: var(--font-nunito);
  /* font-size: 1rem; */
  /* line-height: 1.375; */
}

h1 {
  display: none;
}

/* Header ---------------------------------- */
header {
  display: flex;
  /* align-items: center; */
  /* padding: 20px; */
  height: auto;
  width: 100%;
}

/* Aanzetten voor opdracht eisen? */
header button {
  display: none;
}


nav {
  width: 100%;
  /* position: fixed; */
  top: 0;
  left: 0;
  /* z-index: 2; */
  /* background-color: var(--color-background-yellow); */
}

nav ul:nth-of-type(1) {
  padding: 2em 2em 1em 1em;
  display: flex;
  justify-content: space-evenly;
  /* display: none; */
}

nav ul:nth-of-type(1) {
  display: none;
}

nav ul:nth-of-type(1) li,
nav ul:nth-of-type(2) li {
  display: inline-flex;
  justify-content: space-around;
  list-style: none;
  padding: 1em;
  font-weight: 400;
  font-style: normal;
}

nav ul:nth-of-type(2) {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

nav ul:nth-of-type(1) li a,
nav ul:nth-of-type(2) li a {
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.3em;
  font-weight: 600;
}

/* Hover effect with line */


nav li:hover {
  /* text-decoration: underline; */
  /* color: var(--color-black); */
  transition: color .2s linear;
  transition-behavior: normal;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

nav li a img:nth-of-type(2) {
  width: 3em;
}

nav li a img:nth-of-type(3) {
  width: 1em;
}

nav ul.toonMenu {
  display: block;
}

header button {
  z-index: 999;
  position: relative;
  order: 1;
}


/* Hover effect */
/* nav ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease; 
  transform-origin: right;
} */

/* nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
} */


@media all and (max-width: 500px) {
 main section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  /* height: auto; */
  /* flex: 0 0 auto; */
  /* overflow: hidden; */
  /* background-repeat: no-repeat;  */
 }
}

/* Responsive ipv suface plane */
/* @media () {
} */

/* Main ----------------------------------*/

main {
  /* Laatste voortgangsgesprek: Voor een tien kan ik de gradient effect maken */
  /* https://developer.mozilla.org/en-US/docs/Web/API/Element/getBoundingClientRect */
  /* https://codepen.io/bakoushin/pen/OperQP */
  width: 100%;
  overflow-y: visible;
  overflow-x: scroll;
  /* white-space: nowrap;  */
  /* Zodat content op 1 lijn blijft */
  display: flex;
  margin: 0em;
  height: 80vh;
  outline: solid blue;
}

main a {
  text-decoration: none;
  /* border: 1px solid #ddd; */
  /* margin: 20px; */
  display: inline-block;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

main section {
  width: fit-content;
  height: auto;
}

main section h2 {
  font-size: clamp(3rem, 5vw, 6rem); 
  line-height: 1;
  font-weight: 400;
  padding: 1em 1em 1em 0;
}

main section p {
  font-size: clamp(1.2rem, 1.4vw, 3rem); 
  line-height: 1.6;
  font-weight: 400;
}

main section a {
  font-size: clamp(1.2rem, 1.4vw, 3rem); 
  font-weight: 700;
  font-size: 1.4em;
  text-decoration: none;
  color: var(--color-black);
  display: block;
  padding: 0.5em 0 0.5em 0;
}

/* Pijltje */
main section a img {
  display: inline-block;
  margin-right: auto;
  margin-left: 0;
  /* filter: invert(100%)*/
  /* float: left; */
  /* padding-right: 1em; */
}

/* Eerste (1) en laatste (3)  */

main section:nth-of-type(1),
main section:nth-of-type(3) {
  margin: 2em;
  /* padding: 3em; */
  flex: 0 0 auto;
  width: 40%;
  /*  flexibility without shrinking */
  /* display: inline-block;  */
  /* vertical-align: top;  */
  /* text-wrap: wrap; */
}



/* 4x article kaartjes ------------------- */

main section:nth-of-type(2) {
  /* display: block; */
  display: flex;
}

main section:nth-of-type(2) article {
  display: inline-block;
  position: relative;
  width: 30rem;
  height: auto;
  
  flex: 0 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  
  filter: brightness(85%);
  z-index: 1;
  border-radius: 1em;
  color: var(--color-white);
  padding: 2em;
  
  background-size: cover;
  margin: 1em;
  /* width: 30%; */
   height: 100%;
}

/* main section:nth-of-type(2) article section {
  position: absolute;
  width: 100% !important; 
  bottom: 2em;
} */


/* Kaartjes styling ayeee */
main section:nth-of-type(3) article h3,
main section:nth-of-type(3) article p,
main section:nth-of-type(3)  article > a  {
  width: 100%;
  color: var(--color-white);
  /* padding: 0 1em 0 1em; */
  /* bottom: 4em; */
  /* left: 1em; */
}

main

main section:nth-of-type(2)  article h3 {
  font-size: 1.8em;
}

main section:nth-of-type(2)  article p {
  font-size: 1em;
  bottom: 3em;
  left: 1.7em;
}


main section:nth-of-type(2) article a:nth-last-of-type(1) img {
  filter: invert(100%);
  max-width: 100%;
  height: auto;
}




main section:nth-of-type(2) article a {
  /* position: relative; */
  bottom: 1em;
  color: var(--color-text-white);
  outline: solid blue;
}

main section:nth-of-type(2) article a::after {
  content:'';
  position: absolute;
  inset: 0;

  /* background-color: orange; samen met de position relative test demo - christopher*/
}

main section:nth-of-type(2) article:nth-of-type(1) {
  background-image: url("../images/img_1a_dt_impressionisme.png");
}

main section:nth-of-type(2) article:hover {
  /* transform: scale(1.2); */
  background-size: 120%;
  transition-duration: 1s;
}

main section:nth-of-type(2) article:nth-of-type(2) {
 background-image: url("../images/img_5a_dt_50_jaar_inspiratie.png");
}

main section:nth-of-type(2) article:nth-of-type(3) {
  background-image: url("../images/img_3a_dt_landschap.png");
 }

main section:nth-of-type(2) article:nth-of-type(4) {
  background-image: url("../images/img_2a_dt_vincent_van_gogh.png");
}

/* christopher 
a[href='/']{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.492);

  &:hover{
    transform:none !important;
  }

  & img{
   background-position: center;
   background-size: cover;
    width: 100%;
    height: 100%;
  }
  
}

christopher */

/* padding plaatsen tussen het pijltje en tekst in */
main section:nth-of-type(1) a {
  width: 100%;
  bottom: 2;
  gap: 1em; 
}

/* 1x section nth(2) ------------------- */

main section:nth-of-type(3) ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;

  background-position: center;
  background-size: cover;
   width: 30%; /* dit was voorheen 100%  */
   height: 100%;
}

footer section {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}