*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* startje */
  --color-black: #111;
  --color-white: #fff;
  --color-yellow: #ffce01;
  --color-orange: #E17638;
  --color-blue: #0099d9;
  --font-family: "open sans", sans-serif;
  --font-nunito: "nunito", sans-serif;
}

/* @media (prefers-color-scheme:dark) {
    :root {  
    }
} */

body {
  background-color: var(--color-yellow);
  transition: background-color 6s linear;
  font-family: var(--font-nunito);
  /* font-size: 1rem; */
  /* line-height: 1.375; */
}

/* Door Sanne 't hooft aanbevolen! ivm screenreader*/
h1 {
  display: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-reduced-motion */
@media (prefers-reduced-motion:reduce) {
  * {
      animation: none;
      transition: none;
  }
}

/* Header ---------------------------------- */
header {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  height: auto;
  width: 100%;
}

header button {
  display: none;
}

header nav {
  /* position: fixed; */
  right: 10em;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 2em 2em 1em 1em;
  display: flex;
  justify-content: end;
  z-index: 2;
  width: 100%;
}

header nav ul {
  display: flex;
  gap: 3%;
  padding: 1em;
  width: 100%;
}

header nav ul li {
  display: inline-flex;
  text-wrap: none;
  justify-content: space-around;
  list-style: none;
  padding: 1em;
  font-weight: 400;
  font-style: normal;
  width: fit-content;
}


header nav ul li a {
  text-decoration: none;
  color: var(--color-black);
  font-size: 1.3em;
  font-weight: 600;
  width: fit-content;
}

header nav ul a::after {
  content: '';
  display: flex;
  flex-wrap: wrap;
  width: 0;
  height: 2px;
  background: var(--color-black);
  transition: width 0.3s;
}

header nav ul a:hover::after {
  width: 100%;
}

header > a:nth-of-type(1) {
  padding: 2em;
  width: 1.4em;
}

header > a:nth-of-type(2) {
  padding: 1em;
  width: 1.4em;
}

/* Hover effect with line */


header nav a:nth-of-type(1) img {
  width: 1.6em;
}

header nav > a:nth-of-type(1) {
  padding: 0 2em 0 0;
}

header nav a:nth-of-type(2) img {
  width: 10em;
}

header nav ul.toonMenu {
  display: block;
  display: flex;
  flex-direction: column;
  padding: 4em;

  background-color: var(--color-yellow);
  width: 100%;
}

header nav ul.toonMenu li {
  padding: 3em;
}

/* Line effecttttt */
header nav ul a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: var(--color-black);
  transition: width 0.3s;
}

header nav ul a:hover::after {
  width: 100%;
}


header button {
  z-index: 999;
  position: relative;
  order: -1;
  background-color: transparent;
  border: none;
  padding-left: 2em;
}

@media screen and (max-width: 1100px) {
  nav {
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  nav ul {
    background-color: var(--color-yellow);
    transition: .3s;
    translate: 200%;

    position: fixed;
    right: 10em;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 2em 2em 1em 1em;
    display: flex;
    justify-content: space-between;
    z-index: 2;
  }

  nav ul.toonMenu {
    translate: 0;
  }


  header button {
    display: block;
  }
}

header nav a:nth-of-type(1),
header nav a:nth-of-type(2) {
  display: flex;
  flex-wrap: wrap;
  justify-items: flex-end;
}


/* Main ----------------------------------*/

main {
  /* Laatste voortgangsgesprek: Voor richting een tien kan ik de gradient effect maken */
  /* https://developer.mozilla.org/en-US/docs/Web/API/Element/getBoundingClientRect */
  /* https://codepen.io/bakoushin/pen/OperQP */
  width: 100%;
  overflow-y: visible;
  overflow-x: scroll;
  /* white-space: nowrap;  */
  /* Zodat content op 1 lijn blijft */
  display: flex;
  margin: 0em;
  height: 100%;
}

main a {
  text-decoration: none;
  /* border: 1px solid #ddd; */
  /* margin: 20px; */
  display: inline-block;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

main a:hover {
  left: 1em;
}


main section {
  width: fit-content;
  height: auto;
}

main section h2 {
  font-size: clamp(3rem, 5vw, 5rem); 
  line-height: 1;
  font-weight: 400;
  padding: 0em .5em .5em 0;
}

main section h3 {
  font-size: clamp(2rem, 3vw, 3rem); 
  line-height: 1;
  font-weight: 400;
  padding: 0em .5em .5em 0;
}

main section p {
  font-size: clamp(1rem, 1.4vw, 1.2rem); 
  line-height: 1.6;
  font-weight: 400;
  padding-bottom: 1.5em;
}

main section a {
  font-size: clamp(1.2rem, 1.4vw, 1.2rem); 
  font-weight: 700;
  text-decoration: none;
  color: var(--color-black);
  display: block;
  padding: 0.5em 0 0.5em 0;
}

/* Pijltje */
main section a img {
  display: inline-block;
  margin-right: auto;
  margin-left: 0;
  /* filter: invert(100%)*/
  /* float: left; */
  /* padding-right: 1em; */
}

/* margin en padding  */

main section:nth-of-type(1) {
  margin: 3em;
  /* padding: 3em; */
  flex: 0 0 auto;
  width: 40%;
  /*  flexibility without shrinking */
  /* display: inline-block;  */
  /* vertical-align: top;  */
  /* text-wrap: wrap; */
}

main section:nth-of-type(2) {
  margin: 0;
  display: flex;
}

main section:nth-of-type(3) {
  margin: 3em;
  padding-top: 3em;
}

/* 4x article kaartjes ------------------- */

/* link met pijltjes styling */
main section:nth-of-type(1) a img {
  padding-right: .5em;
}

main section:nth-of-type(2) a img,
main section:nth-of-type(3) a img {
  padding-left: .5em;
}

main section:nth-of-type(2) a:hover,
main section:nth-of-type(3) a:hover {
  /* padding-left: .5em; */
  transition: 0.5s all;
}

/* @keyframes slide-in {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%) 2s;
  }
} */


main section:nth-of-type(2) > article {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: flex-end;
  align-items: flex-start;

  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* backdrop-filter: brightness(60%); */

  z-index: 1;
  width: 22em;
  height: 40em;

  border-radius: 1em;
  color: var(--color-white);
  padding: 2em;

  margin: 1em;
  transition: background-size 1.5s ease, filter 1.5s ease; 
}

/* Kaartjes styling ayeee */
main section:nth-of-type(3) article h3,
main section:nth-of-type(3) article p,
main section:nth-of-type(3)  article > a  {
  width: 100%;
  color: var(--color-white);
  padding: 0 1em;
  left: 1em;
  z-index: 3;
  filter: none;
}

main section:nth-of-type(2)  article h3 {
  font-size: 1.8em;
  padding-bottom: .5em;
}

main section:nth-of-type(2)  article p {
  font-size: clamp(1.1rem, 1.4vw, 1.2rem); 
}

main section:nth-of-type(2) article a:nth-last-of-type(1) img {
  filter: invert(100%);
  max-width: 100%;
  height: auto;
}


main section:nth-of-type(2) article a {
  /* position: relative; */
  bottom: 1em;
  color: var(--color-text-white);
  transition: color 0.3s ease;
}

main section:nth-of-type(2) article a::after {
  content:'';
  position: absolute;
  inset: 0;

  /* background-color: orange; samen met de position relative test demo - christopher*/
}

main section:nth-of-type(2) article:nth-of-type(1) {
  background-image: url("../images/img_1a_dt_impressionisme.png");
}

main section:nth-of-type(2) article:hover {
  /* transform: scale(1.2); */
  background-size: 120%;
  transition: 2s ease-in-out;
}

main section:nth-of-type(2) article:nth-of-type(2) {
 background-image: url("../images/img_5a_dt_50_jaar_inspiratie.png");
}

main section:nth-of-type(2) article:nth-of-type(3) {
  background-image: url("../images/img_3a_dt_landschap.png");
 }

main section:nth-of-type(2) article:nth-of-type(4) {
  background-image: url("../images/img_2a_dt_vincent_van_gogh.png");
}

/* christopher 
a[href='/']{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.492);

  &:hover{
    transform:none !important;
  }

  & img{
   background-position: center;
   background-size: cover;
    width: 100%;
    height: 100%;
  }
  
}
christopher */

/* 1x section nth(3) ------------------- */
main section:nth-last-of-type(3) h3 {
  font-size: clamp(3rem, 5vw, 6rem);
}

main section:nth-of-type(3) ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;

  background-position: center;
  background-size: cover;
   width: 30%; /* dit was voorheen 100%  */
}

main section:nth-of-type(3) > a:hover > img,
main section:nth-of-type(2)  {
  padding-left: 1em;
}


footer section {
  display: flex;
  justify-content: flex-end;
  padding: 0.2em 2em 0.2em 0.2em;
}

footer section p {
  padding: 1em;
  font-size: clamp(1.2rem, 1.4vw, 1.6rem); 
}

footer section img {
  width: 1.2em;
}

@keyframes body {
  0%   {background-color: var(--color-yellow);}
  100%  {background-color: var(--color-orange)}
}

@media screen and (max-width:500px) {
  main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  main section:nth-of-type(1), 
  main section:nth-of-type(3) {
    width: 80%;
  }

  main section:nth-of-type(3) ul {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  main section:nth-of-type(2) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  main section:nth-of-type(2) article {
    width: 85%;
    height: fit-content;
  }


  footer section {
    display: none;
  }

}
