/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text-black: #111;
    --color-text-white: #fff;
    --color-background: #FFCE01;
    --font-family: 'open sans', sans-serif;
}

/* @media (prefers-color-scheme:dark) {
    :root {
        
    }
} */

/* 78em = 1250px */
/* @media (min-with: 45em) {} */
    
body h1 {
    display: none;
}

body {
    padding-top: 1em;
    background-color: var(--color-background);
    transition: background-color .6s linear;
    font-family: Gotham Rounded SSm, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.375;
    font-weight: 400;
}

/* Header ----------------------------------*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--color-background);
}

nav ul {
    padding: 2em 2em 1em 1em;
    display: flex;
    justify-content: space-evenly; 
}

nav li {
    display: inline-block;
    list-style: none;
    padding: 1em; 
}

nav li a {
    text-decoration: none;
    color: var(--color-text-black);
    font-size: 1em;
}

nav li a:hover {
    text-decoration: underline;
    color: var(--color-text-black);
}

nav li a img:nth-of-type(3) {
    width: 1em;
}

/* Main ----------------------------------*/

main {
    width: 100%;
    overflow: scroll;
    display: flex;
    overflow-y: hidden;
    white-space: nowrap; /* Prevent text wrapping to the next line */
    padding-top: 10em;
}



main section {
    max-width: 100%;
    white-space: normal;
    top: 6em;
    height: auto;
    /* /* display: flex; */
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    margin: 0 auto; /* Center the content horizontally */
    display: inline-block; /* Ensure the section doesn't take the full width */
}

main article {
    flex: 0 0 auto; /* Make articles flexible and not shrinkable */
    min-width: 100%;
    position: absolute;
    padding: 1.25rem;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    text-decoration: none;
    display: inline-block; /* Display articles in a row */
    vertical-align: top; /* Align articles to the top */
}

main article:nth-last-of-type(2) {
    border-radius: 1em;
}